.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 100px;
  width: 600px;
  text-align: center; 
}

form {
    display: flex;
    flex-direction: column;
  }

p {
    /* color: red; */
    text-align: center;
  }

  /*input, select{
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    box-sizing: border-box;
  
  }*/
